body{
    font-family:'Cairo',sans-serif;
    margin:0;
    padding:0;
    background: #0B6E4F;
    direction: rtl;
}
h1,h2,h3{
    text-align:center;
}
.container{
    max-width:700px;
    margin:auto;
    padding:20px;
    background:#ffffff;
    color:#333;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    border-radius:10px;
}
input,select,button{
    margin:5px 0;
    padding:10px;
    width:50%;
    border-radius:5px;
    border:1px solid #ccc;
    box-sizing:border-box;
    font-family:'Cairo',sans-serif;
}
button{
    cursor:pointer;
    background:#3498db;
  color:333;
    border:none;
    transition:0.3s;
}
button:hover{
    background:#2980b9;
}
.actions button{
    width:30%;
    display:inline-block;
    margin-right:2%;
}
.presentBtn{
    background:#2ecc71;
}
.presentBtn:hover{
    background:#27ae60;
}
.absentBtn{
    background:#e74c3c;
}
.absentBtn:hover{
    background:#c0392b;
}
.chartBox{
    width:100%;
    max-width:500px;
    height:250px;
    margin:auto;
}
ul#attendanceList{
    list-style:none;
    padding:0;
}
ul#attendanceList li{
    display:flex;
    justify-content:space-between;
    padding:5px;
    border-bottom:1px solid #eee;
}
#loginPage{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#ecf0f1;
}

#loginPage input, #loginPage button{
    max-width:300px;
}
