body 
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
    font-size: 22px;      /* مناسب للهاتف */
    line-height: 1.1;     /* تقليل التباعد بين الأسطر */
    margin-bottom: 4px;
}

.subtitle {
     font-size: 14px;
    margin-top: 0;        /* إلغاء الفراغ العلوي */
    line-height: 1.2;
    color: #666;
}
h2 {
    font-size: 22px;      /* مناسب للهاتف */
    line-height: 1.2;     /* تقليل التباعد بين الأسطر */
    margin-bottom: 4px;
}
.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.stat {
    background: #eee;
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    border-radius: 8px;
}

.stat span {
    font-size: 18px;
    font-weight: bold;
}

input, select, button {
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

select {
    font-size: 16px;
}

button {
    cursor: pointer;
    background: #3498db;
    color: white;
    border: none;
    transition: 0.3s;
}

button:hover {
    background: #2980b9;
}

.present {
    color: green;
}

.absent {
    color: red;
}

.edit-section {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.deleteBtn {
    background: #e63946;
}

.actions button {
    width: 48%;
}

.actions {
    display: flex;
    justify-content: space-between;
}








